.form-con {
	max-width: 1620px;
	margin: 100px auto;
	display: flex;
	justify-content: space-between;
	gap: 100px;
	overflow: hidden;
}

.side-form {
	max-height: 600px;
	width: 50%;
	border-radius: 35px;
}

.form-con input,
.form-con textarea {
	border: none;
	background-color: #f1f2f6;
	display: block;
	padding: 10px 15px;
	border-radius: 15px;
	outline: none;
	font-size: 16px;
}

.main-form label {
	font-weight: 700;
}

.main-form {
	width: 50%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.main-form h1 {
	font-size: 60px;
	line-height: 60px;
	margin: 0;
}

.main-form p {
	padding: 8px 15px;
	color: #2db5b3;
	font-weight: 600;
	border-radius: 20px;
	width: fit-content;
	background-color: #35e1de29;
	text-transform: uppercase;
}

@media screen and (max-width: 1620px) {
	.form-con {
		padding: 0 20px;
		gap: 30px;
	}
}

@media screen and (max-width: 1250px) {
	.form-con {
		padding: 0 20px;
	}

	.main-form {
		width: 50%;
		display: flex;
		flex-direction: column;
		gap: 15px;
	}
}

@media screen and (max-width: 1000px) {
	.form-con {
		justify-content: space-between;
		align-items: center;
		flex-direction: column-reverse;
	}

	.main-form {
		width: 70%;
	}

	.side-form {
		width: 70%;
	}
}

@media screen and (max-width: 768px) {
	.form-con {
		padding: 0 20px;
	}

	.side-form {
		height: 551px;
		width: 100%;
	}

	.form-con {
		margin: 0px auto;
		gap: 100px;
	}

	.main-form {
		width: 100%;
		gap: 15px;
	}

	.main-form h1 {
		font-size: 45px;
		line-height: 49px;
		margin: 0;
	}
}

@media screen and (max-width: 468px) {
	.main-form h1 {
		font-size: 35px;
		line-height: 39px;
	}
}
