.navbar {
	max-width: 1920px;
	margin: 0 auto;
	z-index: 80;
}

.navbarMainDiv {
	max-width: 1620px;
	margin: 0 auto;
	height: 12vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navLogoMain {
	display: flex;
	align-items: center;
	gap: 15px;
	text-decoration: none;
}

.navLogoText {
	color: black;
	font-size: 36px;
	font-weight: 700;
	margin: 0;
}

.navLinksMain {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
}

/* .navLinksMain a.active .navLinksText {
	border-bottom: 2px solid white;
} */

.navLinksMainModal {
	padding: 15px;
	background-color: #fff7f1;
	border-radius: 20px;
	margin: 20px;
	position: absolute;
	top: 20px;
	right: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 40px;
}

.responsiveMenuIcon {
	display: none;
}
/* 
.navLinks {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3px;
	text-decoration: none;
	color: black;
} */

.navLinks:hover {
	color: #ff7268;
}

.activeNavLink {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3px;
	text-decoration: none;
	color: #ff7268;
}

.navLinksTextHome,
.navLinksText {
	font-size: 17px;
	font-weight: 600;
	display: flex;
	align-items: center;
	margin-bottom: 5px;
}

.navLinksSvg {
	width: 9px;
	height: 9px;
}

.navIcons {
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	gap: 40px;
	font-size: 25px;
}

.navIcons button {
	color: black;
	border: none;
	background: transparent;
	cursor: pointer;
}

.menubar {
	font-size: 40px;
}

.searchbar {
	font-size: 25px;
}

#underline {
	display: block;
	width: 0;
	height: 2.5px;
	background-color: currentColor;
	transition: width 0.5s ease;
}

.NavLink:hover #underline,
.NavLink:focus #underline {
	width: 100%;
}

.NavLink {
	text-decoration: none;
}

@media screen and (max-width: 1920px) {
	.navbarMainDiv {
		padding-inline: 20px;
	}
}

@media screen and (max-width: 1080px) {
	.navLinksMain {
		display: none;
	}

	.responsiveMenuIcon {
		display: block;
		font-size: 32px;
	}

	.navIcons {
		margin-left: 100px;
	}
}
